<ion-header>
  <ion-navbar>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding *ngIf="text" [innerHtml]="text"></div>

  <ion-list>
    <ng-container *ngFor="let entry of entries">
      <button ion-item *ngIf="entry.text && !entry.header" (click)="goToReferenceSubPage(entry.id)" [class.break-section]="entry.break">
        <h2>{{ entry.name }}</h2>
      </button>
      <ion-item *ngIf="!entry.text && !entry.header">
        <h2>{{ entry.name }}</h2>
      </ion-item>
      <ion-list-header *ngIf="entry.header">
        {{ entry.name }}
      </ion-list-header>
    </ng-container>
  </ion-list>
</ion-content>
