references-detail {
    h2, p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    button.break-section {
      border-bottom: 0.55px solid #c8c7cc;

      .item-inner {
        border-bottom: none !important;
      }
    }

    .diag-fract {
        font-size: 0.83em;
        vertical-align: super;
    }

    @supports (font-variant-numeric: diagonal-fractions) {
        .diag-fract {
            font-variant-numeric: diagonal-fractions;
            font-size: 1em;
            vertical-align: baseline;
        }
    }
}
