<ion-row>
  <ion-col [attr.width-80]="showStatus ? true : null">
    <ion-item>
      <ion-label stacked>{{"PROJECT.DETAIL.MODAL.BOOK.TITLE_LABEL" | translate}}</ion-label>
      <ion-input [(ngModel)]="_value" [placeholder]="_placeholderText" (input)="input()"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col width-20 class="flex" *ngIf="showStatus">
    <ion-spinner *ngIf="isLoading" name="ios-small" class="spinner-suggestions" item-right></ion-spinner>
    <button ion-button *ngIf="isDone" (click)="toggleInstantSearch()" [class.rotate-90]="isShown" class="will-90" color="dark" clear item-right icon-only>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button *ngIf="noResult" (click)="openExplaining()" color="dark" clear item-right icon-only>
      <ion-icon name="close-circle"></ion-icon>
    </button>
    <button ion-button *ngIf="serverError" (click)="openExplaining()" clear color="dark" item-right icon-only>
      <ion-icon name="alert"></ion-icon>
    </button>
  </ion-col>
</ion-row>
<slider [isOpen]="isShown">
  <ion-item>
    <ion-scroll scrollY="true" [class.height-one]="instantList.length == 1" [class.height-one-and-half]="instantList.length == 2" [class.height-two-and-half]="instantList.length > 2">
      <ion-list class="no-margin">
        <button ion-item *ngFor="let suggestion of instantList" (click)="fillRequest(suggestion)">
          <ion-icon name="bookmarks-outline" item-left></ion-icon>
          {{ suggestion.title }}
          <span *ngIf="suggestion.author1lastname && suggestion.author1firstname">(<em>{{suggestion.author1firstname}} {{suggestion.author1lastname}}</em>)</span>
        </button>
      </ion-list>
    </ion-scroll>
  </ion-item>
</slider>
