<ion-header>
  <ion-navbar>
    <ion-title>{{ "SETTINGS.ATTRIBUTION_TAB" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let library of data.libraries" (click)="openWebsite(library.website)">
      <ion-thumbnail item-left *ngIf="library.image">
          <img [src]="library.image">
      </ion-thumbnail>

      <h2>{{ library.label }}</h2>
    </button>

    <ion-item *ngFor="let plugin of data.plugins">
      <h2 class="plugin">{{ plugin }}</h2>
    </ion-item>

    <button ion-item *ngFor="let license of data.licenses" (click)="showLicense(license)">
      {{ license.token | translate }}
    </button>
  </ion-list>
</ion-content>
